.legionGrid {
    display: flex;
    width: 944px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
}

.legionBlock {
    display: flex;
    width: 144px;
    height: 100%;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #EAC8AF;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.05);
}


/* EditButton.css */
.editButton {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), var(--BlueGraph, #3AB);
    /* Add other necessary styles */
}

.characterInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.infoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}  
h3.charaterName  {
    margin: none !important;
}

.characterInfo img{
width: 24px;
height: 24px;

}

.editButton{
    max-width: 64px;
    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    margin: auto;
    color: white;
   /* border inside solid 1px white */
   border: inset solid 4px white;
cursor: pointer;

}

.editButton:hover{
    background: white;
    color: #3AB;
    border: inset solid 4px #3AB;
}