@import url('../../App.css');




.legionGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Adjust as needed */
    gap: 16px 8px;
    width: 100%;
    
    max-width: 1225px;
    margin: auto;
    text-align: center;

}
/* 2 columns when viewport is 400px or larger */
@media (min-width: 400px) {
    .legionGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* 3 columns when viewport is 600px or larger */
  @media (min-width: 600px) {
    .legionGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

.legionGrid .screenMessage{
    grid-column: 1 / -1; /* This will make the h2 take full width */
}

.legionBlock {
    display: flex;
    /* min-width: 100px;
    max-width: 144px; */
    /* height: 100%; */
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--elevationZero);
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.05);
    min-width: 140px;
    /* width: 100%; */
}


/* EditButton.css */
.editButton {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), var(--BlueGraph, #3AB);
    /* Add other necessary styles */
}

.characterInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.infoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}  
h3.charaterName  {
    margin: none !important;
}

.characterInfo img{
width: 24px;
height: 24px;

}

.editButton{
    max-width: 64px;
    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    margin: auto;
    color: white;
   /* border inside solid 1px white */
   border: inset solid 4px white;
cursor: pointer;

}

.editButton:hover{
    background: white;
    color: #3AB;
    border: inset solid 4px #3AB;
}

.miniIndicatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin: auto;
    margin-top: 8px;
    width: 100%;

}

.miniIndicator{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    font-size: 10pt;
    gap: 0px;
    /* background-color: #eac8af; */
    background-color: var(--elevationTwo);
    width: 80%;
    border-radius: 16px;
    /* text-align: left; */
    padding: 3px 6px;
    margin: auto;
    border: solid 1px var(--primary);
  

}

.miniIndicatorNb{
    background-color: var(--elevationZero);
    padding: 1px 4px;
    border-radius: 42px;
    color: #2d2d2d;
    font-weight: 600;
    border: solid 1px var(--primary);
}


.miniIndicatorLabel{
    font-weight: 500;
}
