@import url('../../App.css');




.legionGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 16px 8px;
    width: 100%;
    
    /* max-width: 1225px; */
    margin: auto;
    text-align: center;

}
/* 2 columns when viewport is 400px or larger */
@media (min-width: 430px) {
    .legionGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* 3 columns when viewport is 600px or larger */
  @media (min-width: 640px) {
    .legionGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 800px) {
    .legionGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

.legionGrid .screenMessage{
    grid-column: 1 / -1; /* This will make the h2 take full width */
}

.screenMessage{
    height: 100%;
    min-height: 340px;
    display: flex;
    flex-direction: column;
}

.legionBlock {
    display: flex;
    /* min-width: 100px;
    max-width: 144px; */
    /* height: 100%; */
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--elevationZero);
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.05);
    min-width: 140px;
    /* width: 100%; */
}

.legionBlockHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


/* EditButton.css */
.editButton {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), var(--BlueGraph, #3AB);
    /* Add other necessary styles */
}

.characterInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.infoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}  
h3.charaterName  {
    margin: none !important;
}

.characterInfo img{
width: 24px;
height: 24px;

}

.editButton{
    max-width: 64px;
    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    margin: auto;
    color: white;
   /* border inside solid 1px white */
   border: inset solid 4px white;
cursor: pointer;

}

.editButton:hover{
    background: white;
    color: #3AB;
    border: inset solid 4px #3AB;
}
.miniIndicatorContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 column grid */
    gap: 4px;
    margin: auto;
    margin-top: 8px;
    width: 100%;
}


.miniIndicator{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    font-size: 9pt;
    gap: 0px;
    background-color: var(--elevationTwo);
    border-radius: 16px;
    padding: 3px 0px;
    border: solid 1px var(--primary);
    min-width: 87px;
}

.miniIndicatorNb{
    /* background-color: var(--elevationZero); */
    padding: 1px 4px;
    border-radius: 42px;
    color: #2d2d2d;
    font-weight: 600;
    /* border: solid 1px var(--primary); */
}


.miniIndicatorLabel{
    font-weight: 500;
}

.indicatorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.384); */
    /* linear gradient dark with 3 stop, dark in center, trasparent at edges */
    background: linear-gradient(180deg, rgba(58, 58, 58, 0.37) 0%, rgba(48, 48, 48, 0.603) 50%, rgba(31, 31, 31, 0.459) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
}

.tabler-icon-check{
    color: #3CBF39;
    stroke-width: 4;

}

.mapleButton{
    
    /* Add other necessary styles */

    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    color: white;
   /* border inside solid 1px white */
   border: inset solid 4px white;
   display: flex;
   gap: 16px;
}

.addButton{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), var(--BlueGraph, #3AB);
}

.warningButton{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), var(--RedGraph, #E85365);

}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    margin: auto;
    gap: 16px;

}

.addCharacterForm form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.formField{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.formField label{
    font-weight: 500;
    font-size: 10pt;
}

/* select formfield input type text */
.formField input[type="text"], .formField select{
    padding: 8px;
    border-radius: 8px;
    border: solid 1px var(--elevationZero);
    background-color: #EAC8AF;
    color: #2d2d2d;
}

.submitButton{
    background-color: #A2C83A;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), var(--BlueGraph, #A2C83A);
    border: 0px;
}