/* SHOW PROG---------------------------------- */

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    gap: 16px;
}

.regionProgression {
    width: 112px;
    padding: 8px;
    flex-shrink: 0;
    border-radius: 4px;
}

.regionProgression h5{
    text-align: left;
    margin: 6px;
}

.completionBoxes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 4px;
    padding: 4px;
    text-align: left;
}

.regionCheckBox {
    display: flex;
    background: linear-gradient(to right, #e0e0e0b2 0%, #eeeeeed8 100%);
    /* background-color: #2d2d2d4d; */

    padding: 4px 8px;
    justify-content: space-between;
    align-items: left;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #ffffff;
}
.regionCheckBox label{
    width: 100px;
}

.regionCheckBox input{
    justify-content: flex-end;
}



:root {
    --oblivion-gradient: linear-gradient(to right, #98e0ff86 0%, #b9eaff75 100%);
    --chuchu-gradient: linear-gradient(to right, #ffccff77 0%, #bf4dbf59 100%);
    --lachelein-gradient: linear-gradient(to right, #fa61cf7c 0%, #ff7b4385 100%);
    --arcana-gradient: linear-gradient(to right, #9E96FF 0%, #57A4 100%);
    --morass-gradient: linear-gradient(to right, #EE4C5D4D 0%, #F3BCAA4D 100%);
    --esfera-gradient: linear-gradient(to right, #98e0ff6b 0%, #b9eaff7c 100%);
    --tenebris-gradient: linear-gradient(to right, #98E0FF33 0%, #B9EAFF2A 100%);
    --cernium-gradient: linear-gradient(to right, #A887FD4D 0%, #BBDDFF4D 100%);
    --arcus-gradient: linear-gradient(to right, #fcb57369 0%, #bbddff71 100%);
    --odium-gradient: linear-gradient(to right, #e6b22462 0%, #6BC9C966 100%);
    --shangrila-gradient: linear-gradient(to right, #ffddddd8 0%, #FFBBCC66 100%);
    --arteria-gradient: linear-gradient(to right, #bb77ff5b 0%, #33558866 100%);
    --carcion-gradient: linear-gradient(to right, #7789ee5b 0%, #66bb6671 100%);
}

.regionProgression.oblivion, .regionSelector.oblivion {
    background: var(--oblivion-gradient);
}

.regionProgression.chuchu, .regionSelector.chuChu {
    background: var(--chuchu-gradient);
}

.regionProgression.lachelein, .regionSelector.lachelein {
    background: var(--lachelein-gradient);
}

.regionProgression.arcana, .regionSelector.arcana {
    background: var(--arcana-gradient);
}

.regionProgression.morass, .regionSelector.morass {
    background: var(--morass-gradient);
}

.regionProgression.esfera, .regionSelector.esfera {
    background: var(--esfera-gradient);
}

.regionProgression.tenebris, .regionSelector.tenebris {
    background: var(--tenebris-gradient);
}

.regionProgression.cernium, .regionSelector.cernium {
    background: var(--cernium-gradient);
}

.regionProgression.arcus, .regionSelector.arcus {
    background: var(--arcus-gradient);
}

.regionProgression.odium, .regionSelector.odium {
    background: var(--odium-gradient);
}

.regionProgression.shangrila, .regionSelector.shangriLa {
    background: var(--shangrila-gradient);
}

.regionProgression.arteria, .regionSelector.arteria {
    background: var(--arteria-gradient);
}

.regionProgression.carcion, .regionSelector.carcion {
    background: var(--carcion-gradient);
}




/* .regionProgression.oblivion {
    background: linear-gradient(to right, #98e0ff86 0%, #b9eaff75 100%);
}

.regionProgression.chuchu {
    background: linear-gradient(to right, #ffccff77 0%, #bf4dbf59 100%);
}


.regionProgression.lachelein {
    background: linear-gradient(to right, #fa61cf7c 0%, #ff7b4385 100%);
}

.regionProgression.arcana {
    background: linear-gradient(to right, #9E96FF 0%, #57A4 100%);
}

.regionProgression.morass {
    background: linear-gradient(to right, #EE4C5D4D 0%, #F3BCAA4D 100%);
}

.regionProgression.esfera {
    background: linear-gradient(to right, #98e0ff6b 0%, #b9eaff7c 100%);
}

.regionProgression.tenebris {
    background: linear-gradient(to right, #98E0FF33 0%, #B9EAFF2A 100%);
} */







/* edit prog-------------------------------------------- */