
.allBossesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Adjust as needed */
    gap: 16px;
    /* width: 100%; */
   
    /* adapt width to content */
    width: fit-content;
    /* min-width: 440px; */
    width: 100%;
    max-width: 1225px;
    margin: auto;
    gap: 6px 8px;
}


.bossCompletionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 385px; */

    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--lIGHTgRADIENT, #FFD9B4);
    background-color: #EAC8AF;
    overflow: hidden;
    /* padding: 16px 24px; */
    /* min-width: 260px; */
    /* width: 85%; */
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}




.bossCompletionContainer .difficultyContainer{
    display: flex;
    flex-direction: row;
}

/* change width if not on mobile */
@media (min-width: 768px) {
    /* .bossCompletionContainer {
        width: 40%;
    } */
}


.bossCompletionContainer .bossInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    padding: 8px;
    background: linear-gradient(108deg, rgba(231, 231, 231, 0.164) 3.2%, rgba(255, 255, 255, 0.00) 94.9%, rgba(233, 233, 233, 0.50) 94.9%), linear-gradient(99deg, rgba(110, 71, 50, 0.25) 2.02%, rgba(205, 189, 173, 0.25) 85.02%);
 
  width: 100%;
  padding: 8px 16px;
  height: 100%;
  /* min-width: 240px; */

}

.bossCompletionContainer .bossName{
    margin: 4px 16px;
}

.bossCompletionContainer .typeLabel{
    font-size: 10pt;
    font-weight: 400;
}


.bossCompletionContainer .difficultyConatiner .daily,
.bossCompletionContainer .difficultyConatiner .weekly {
    display: flex;
    flex-direction: row;

}



.bossCompletionContainer h3{
    color: var(--Dark, #2D2D2D);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0;


}

.allBossesContainer h2 {
    grid-column: 1 / -1; /* This will make the h2 take full width */
  }

.bossName {
    border-radius: 8px;
    border: 1px solid #D1B9A1;
    background: linear-gradient(108deg, rgba(231, 231, 231, 0.50) 3.2%, rgba(255, 255, 255, 0.00) 94.9%, rgba(233, 233, 233, 0.50) 94.9%), linear-gradient(99deg, rgba(110, 71, 50, 0.25) 2.02%, rgba(205, 189, 173, 0.25) 85.02%);
    background-color: #ffecd99d;
    backdrop-filter: blur(7.5px);
    width: auto;
    /* height: 58px; */
/* padding: 8px 16px; */
}


.difficultyConatiner{
    /* align to flex end */
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    gap: 2px;
align-self: flex-start;
min-width: 60%;
    /* justify-content: right; */
    /* margin-left: auto; */
}

/* .diffContainerSeparator{
     border-left: 1px solid #2d2d2d
} */
.diffContainerSeparator {
    position: relative;
    width: 1px !important;
    margin: 0 16px;


}

.diffContainerSeparator::after {
    content: '';
    position: absolute;
    left: 1px;
    width: 1px !important;
    height: 100%;
    /* width: 100%; */
    background: linear-gradient(#2d2d2d00, #2d2d2d81, #2d2d2d00);
}



.Easy, .Normal, .Chaos, .Hard, .Extreme{
    display: flex;
    background-color: #33312f60;
    /* padding: 4px 8px; */
    border-radius: 12px;
}

.Normal label, .Chaos label, .Hard label, .Easy label, .Extreme label{
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 16px;
    font-size: 12px;
font-weight: 700;
}


/* DIFFICULTYCSS */
.Normal label {
background: var(--NormalDiff, linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), #3AB);
color: white;

/* SimpleDrop */
box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
border: solid 1px rgb(255, 255, 255);
}

.Chaos Label{

    padding: 2px 8px;
    border-radius: 10px;
border: 1px solid var(--ChaosDifficultyText, #DB8);
background: var(--CHaosDiff, linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 65.62%, rgba(0, 0, 0, 0.00) 78.81%), #282828);

/* SimpleDrop */
box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);

color:#DB8;

}

.Hard label{
    padding: 2px 8px;
    background: var(--HardDiff, linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 36.98%, rgba(0, 0, 0, 0.20) 66.15%, rgba(0, 0, 0, 0.16) 87.5%, rgba(0, 0, 0, 0.00) 97.92%), #E85365);
    border: solid 1px rgb(255, 255, 255);
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
font-size: 12px;
font-weight: 700;
color: white;
}


.Easy label{
    border-radius: 10px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 77.08%, rgba(0, 0, 0, 0.00) 100%), #999;

/* SimpleDrop */
box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
border: solid 1px rgb(255, 255, 255);
color: white;
}

.Extreme label{
    border: 1px solid #B5344E;
    color: #B5344E;
    background: var(--CHaosDiff, linear-gradient(180deg, rgba(0, 0, 0, 0.01) 7.87%, rgba(0, 0, 0, 0.16) 30.73%, rgba(0, 0, 0, 0.20) 45.34%, rgba(0, 0, 0, 0.16) 65.62%, rgba(0, 0, 0, 0.00) 78.81%), #282828);
}


/* BOSS SELECTION */

.bossesContainer{
    min-width: 320px;
    /* max-width: 90vw; */

}
.bossList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust as needed */
    gap: 16px;
    width: 100%;
    margin: auto;
    gap: 2px 4px;
  }
  
  /* 2 columns when viewport is 640px or larger */
  @media (min-width: 748px) {
    .bossList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* 3 columns when viewport is 960px or larger */
  @media (min-width: 1260px) {
    .bossList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
.bossSelectionContainer .difficultyConatiner{
text-align: left;
}

.bossSelectionContainer{ 
    max-width: 90%; 
    min-width: 350px;}

.diffContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.diffSelection{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bossDiffLabel{
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--Dark, #2D2D2D);
}




.bossCompletionContainer h3{
    margin: none;
}
.bossSelectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 340px; /* minimum width */
    max-width: 480px; /* maximum width */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--lIGHTgRADIENT, #FFD9B4);
    background-color: #EAC8AF;
    overflow: hidden;
    border: 1px solid #FFD9B4;
    margin: auto;
  }

  .bossSelectionContainer .bossInfo {
    /* background-color: red; */

    /* gradient from primary to FFECD9 trasparent */
    background: linear-gradient(108deg, rgba(231, 231, 231, 0.336) 3.2%, rgba(255, 255, 255, 0.00) 94.9%, rgba(233, 233, 233, 0.50) 94.9%), linear-gradient(99deg, rgba(110, 71, 50, 0.25) 2.02%, rgba(205, 189, 173, 0.25) 85.02%);

  }

  .bossSelectionContainer .bossInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    /* margin-left: -32px;
    margin-right: 16px; */
    padding: 8px;
    height: auto;
  }
  .bossSelectionContainer .bossInfo h3{
margin: 0;
  }

  .bossSelectionContainer .difficultyConatiner{
    width: 100%;
    background-color: #EAC8AF;
    padding: 8px;
  }